$left-padding: 16px;
$btn-bg-color: rgba(0, 172, 220, 1);
$text-line-height: 18px;
$main-black-color: rgba(6, 11, 53, 1);
$main-white-color: rgba(243, 243, 243, 1);
$main-gray-color: rgba(97, 96, 112, 1);
